.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--red);
    padding: 20px 35px;
    margin: 20px;
    border-radius: 6px;
    align-items: start;
}

.form input, textarea {
    background-color: transparent;
    border: 2px solid var(--white);
    padding: 18px 10px;
    border-radius: 4px;
    color: var(--white);
    font-family: 'Figtree', sans-serif;
}

.form textarea {
    resize: none;
    flex-grow: 1;
}

.form input::placeholder, textarea::placeholder {
    color: var(--white);
    opacity: 50%;
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
}

.form input:focus, textarea:focus {
    outline: none;
}

.form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form__message {
    height: 120px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 20px;
}